<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>brainrobo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkingpagestyles.css' %}">
  </head>
  <body>
    <!--왼쪽에 고정될 전문가 프로-->
        <div class="header">
          <img src="{% static 'img/expert_profile@2x.png'%}" alt="expert_profile">
          <br>
          <span class="list">
            <a href=""><p>LIST</p></a>
          </span>
          <br>
          <span class="test">
            <a href=""><p>TEST</p></a>
          </span>
        </div>

        <!--테스트 채점화면-->
        <div class="checkingpage">

          <span>  <p>Name</p> </span>
          <span id="age"> <p>Age</p> </span>

          <!--엑스 이미지-->
          <a href="#"> <img src="{% static 'img/Cancel@2x.png' %}" alt="X"> </a>

          <!--1. word list-->
          <div class="wordlist">
            <span>1. Word List</span>
            <div class="audio01">
              <img src="{% static 'img/audiobutton@2x.png' %}" alt="audiobutton">
              <audio src="http://s3.ap-northeast-2.amazonaws.com/robodem/PAT_17/20180705172538/20180705172520_3.m4a" >

              </audio>
            </div>

            <div class="audio02">
              <img src="{% static 'img/audiobutton@2x.png' %}" alt="audiobutton">
              <audio src="#">

              </audio>
            </div>
          </div>

        </div>
  </body>
</html>
