<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>brainrobo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/expertstyles.css' %}">

  </head>

  <!--본문-->
  <body>

<!--왼쪽에 고정될 전문가 프로-->
    <div class="header">
      <img src="{% static 'img/expert_profile@2x.png' %}" alt="expert_profile">
      <br>
      <span class="list">
        <a href=""><p>LIST</p></a>
      </span>
      <br>
      <span class="test">
        <a href=""><p>TEST</p></a>
      </span>
    </div>

      <!--오른쪽 회원 리스트 상단 제목,검색,추가,구분목록-->
          <div class="listpage">

              <div class="title"><!--LIST제목-->
                <p>LIST</p>
              </div>

              <div class="searchbox"> <!--검색박스-->
                <input type="image" src="{% static 'img/add_button@2x.png' %}" name="add" id="add">
                <input type="text" name="search_patient" placeholder="Search the Patient Name" id="search_patient">
                <input type="image" src="{% static 'img/search_button@2x.png' %}" name="search" id="search">
              </div>

              <img src="{% static 'img/nav_bar@2x.png' %}" alt="list_navbar"> <!--리스트 네비게이션 이미-->

            <!-- <ul>
                <li>Patient</li>
                <li>Test</li>
                <li>Caregiver</li>
                <li>Test</li>
                <li>Contact</li>
              </ul>-->
          </div>



	  {% for Patient in patientList %}
      <div class= "accordion">
        <div class="patient_box" id="patient_box" >

            <!--patient box, 데이터가 추가되면 이 박스가 추가됨-->
            <label class="checkboxContainer">
              <input type="checkbox" name="list check">
              <span class="check"></span>
            </label>
              <img src="{% static 'img/profile@2x.png' %}" alt="patient_profile" id="patient_profile">
              <span class="name">{{Patient.PAT_NAME}}</span>
			<a href="/patientTest?test_id={{Patient.PAT_RECENT}}">
            <img src="{% static 'img/light_balb@2x.png' %}" alt="alarm" id="alarm1"><!--전구이미지, 데이터 받으면 불켜지고, 없으면 꺼지 -->

			</a>

           <img src="{% static 'img/profile@2x.png' %}" alt="caregiver_profile" id="caregiver_profile">
            <span class="name">Name</span> <!--이름 데이터 값 받아야 하는 부분!-->
            <img src="{% static 'img/light_balb_x@2x.png' %}" alt="alarm" id="alarm2"><!--전구이미지-->

            <!--Contact-->
            <input type="image" src="{% static 'img/Phone@2x.png' %}" name="call" id="call">
            <input type="image" src="{% static 'img/Messages@2x.png' %}" name="message" id="message">
            <input type="image" src="{% static 'img/Options@2x.png' %}" href="#" name="options" id="options">

        </div>

        <div class="menu" id="menu">
            <div class="patient_info">
              <span>age</span>
              <br>
              <span>address</span>
              <br>
              <span>contact</span>
            </div>

            <div class="patient_report">
			<a href="/patientResult">
              <img src="{% static 'img/patient_report@2x.png' %}" alt="Patient report">
			</a>
            </div>

            <div class="caregiver_info">
              <span>age</span>
              <br>
              <span>address</span>
              <br>
              <span>contact</span>
            </div>

            <div class="caregiver_report">
              <img src="{% static 'img/caregiver_report@2x.png' %}" alt="Caregiver report">
            </div>

        </div>
    </div>
	{% endfor %}


<script src = "{% static 'css/jquery-3.3.1.min.js' %}"></script>


<script>

    var accordionTitle = $('.patient_box');

    accordionTitle.bind('click', function(){

        $(this).addClass('isOpen');


    });

</script>




  </body>
</html>
